.timer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1050px;
  height: 550px;
  margin: 120px auto 0 auto;

  .time-separator {
    color: #D9D9D9;
    font-size: 150px;
    margin-top: 60px;
  }

  .blink {
    animation: fadeInOut 1s infinite; /* 1 second for a full on-off cycle */
    @keyframes fadeInOut {
      0%, 80% {
        opacity: 1; /* Fully visible for 2 seconds */
      }
      50% {
        opacity: 0; /* Invisible halfway through */
      }
      80% {
        opacity: 1; /* Fade back to visible */
      }
      50% {
        opacity: 0; /* Invisible */
      }
    }
  }
}

.timer-action-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 1200px;
  margin: 100px auto auto auto;

  button {
    font-family: 'jersey25', sans-serif;
    font-size: 50px;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    cursor: pointer;
  }    
}